<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>Referral</title>
  </head>
  <body style="
    background-color: #c4c4c4;
    padding: 0;
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: 'Lato';
  ">
    <table id="bodyTable" class="center" border="0" cellpadding="0" cellspacing="0" align="center" width="600" bgcolor="#fafafa" style="
      max-width: 480px;
      padding: 0;
      border: none;
      border-spacing: 0px;
      border-collapse: collapse;
      background-color: #fafafa;
    ">
      <thead id="emailContainer" class="w-100" border="0" cellpadding="20" cellspacing="0" width="600" style="
        padding: 0;
        border: none;
        border-spacing: 0px;
        border-collapse: collapse;
      ">
        <tr style="
          padding: 0;
          border: none;
          border-spacing: 0px;
          border-collapse: collapse;
        ">
          <td class="logo-area" align="left" valign="top" style="
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
            padding: 2rem;
          ">
            <img style="
              padding: 0;
              border: none;
              border-spacing: 0px;
              border-collapse: collapse;
              color: #016FB9;
              width: 36px;
              height: 36px;
              margin-right: 5px;
              vertical-align: middle;
            " class="logo" src="./images/logo.png" alt="logo"/>
            <p style="
              display: inline-block;
              font-size: 22px;
              line-height: 35px;
              font-weight: bold;
              margin: 0;
              vertical-align: middle;
            " class="logo_font blue">Getchefnow</p>
          </td>
        </tr>
      </thead>

      <tbody class="w-100" width="600" border="0" cellspacing="0" cellpadding="0" align="left" bgcolor="#fafafa" style="
        background-color: #fafafa;
        padding: 0;
        border: none;
        border-spacing: 0px;
        border-collapse: collapse;
        background-color: #fafafa;
      ">
        <tr style="
          padding: 0;
          border: none;
          border-spacing: 0px;
          border-collapse: collapse;
        ">
          <td style="
            padding: 0;
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
          ">
            <h1 style="
              font-style: normal;
              font-weight: 700;
              font-size: 30px;
              line-height: 38px;
              letter-spacing: -0.01em;
              color: #002C4A;
              padding: 0 2rem;
            ">{{name}} sent you ${{amount}} for your first chef experience on <span style="color: #016FB9;" class="blue">Getchefnow!</span> </h1>
          </td>
        </tr>
        <tr style="
          padding: 0;
          border: none;
          border-spacing: 0px;
          border-collapse: collapse;
        ">
          <td style="
            padding: 0;
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
          ">
            <h3 style="
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #4D6C80;
              padding: 0 2rem;
            ">
              On Getchefnow you can book a professional chef to come and cook for you and your friends. Just sign up by <span class="semibold" style="font-weight: 600;color: #002C4A;">{{date}}</span> to get ${{amount}} off your next order of ${{order_min_amount}} or more.
            </h3>
          </td>
        </tr>
        <tr style="
          padding: 0;
          border: none;
          border-spacing: 0px;
          border-collapse: collapse;
        ">
          <td class="btn-area" style="
            padding: 0;
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
            padding: 1rem 2rem;
          ">
            <a style="
              background: #016FB9;
              border-radius: 8px;
              padding: 10px 24px;
              color: white;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              text-decoration: none;
            " class="btn" href="https://www.getchefnow.com/" >Accept Invitation</a>
          </td>
        </tr>
        <tr style="
          padding: 0;
          border: none;
          border-spacing: 0px;
          border-collapse: collapse;
        ">
          <td class="avatar-area" style="
            padding: 0;
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
            padding: 1rem 2rem;
            display: flex;
            align-content: center;
          ">
            <img style="
              padding: 0;
              border: none;
              border-spacing: 0px;
              border-collapse: collapse;
              width: 85px;
              height: 85px;
              object-fit: cover;
              border-radius: 50%;
            " class="avatar" src="./images/avatar.png" alt="avatar" />
            <div>
              <h3 style="
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #4D6C80;
                padding: 0 2rem;
                font-weight: 600;
                color: #002C4A;
                line-height: 1;
                margin: 10px 0px;
              " class="semibold avatar_des">{{name}}</h3>
              <h3 style="
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #4D6C80;
                padding: 0 2rem;
                line-height: 1;
                margin: 10px 0px;
              " class="avatar_des">Toronto</h3>
              <h3 style="
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #4D6C80;
                padding: 0 2rem;
                line-height: 1;
                margin: 10px 0px;
              " class="avatar_des">On Getchefnow since 2022</h3>
            </div>
          </td>
        </tr>
        <tr style="
          padding: 0;
          border: none;
          border-spacing: 0px;
          border-collapse: collapse;
        ">
          <td style="
            padding: 0;
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
          ">
            <h3 style="
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #4D6C80;
              padding: 0 2rem;
              font-weight: 600;
              color: #002C4A;
            " class="semibold">Download the app</h3>
            <h3 style="
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #4D6C80;
              padding: 0 2rem;
              line-height: 1;
              margin: 10px 0px;
            " class="avatar_des">Get the most of Getchefnow by installing our mobile app.</h3>
          </td>
        </tr>
        <tr style="
          padding: 0;
          border: none;
          border-spacing: 0px;
          border-collapse: collapse;
        ">
          <td class="app-area" style="
            padding: 0;
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
            padding: 1rem 2rem 2rem;  
          ">
            <a style="text-decoration: none;" href="https://apps.apple.com/us/app/getchefnow/id1547558170">
              <img style="
                padding: 0;
                border: none;
                border-spacing: 0px;
                border-collapse: collapse;
                width: 120px;
                height: 40px;
                margin-right: 1rem;
              " class="app-badge" src="./images/appstore-badge.png" alt="avatar" />
            </a>
            <a style="text-decoration: none;" href="https://play.google.com/store/apps/details?id=com.getchefnow.chefnow_app&hl=en_CA&gl=US">
              <img style="
                padding: 0;
                border: none;
                border-spacing: 0px;
                border-collapse: collapse;
                width: 120px;
                height: 40px;
                margin-right: 1rem;
              " class="app-badge" src="./images/playstore-badge.png" alt="avatar" />
            </a>
          </td>
        </tr>
        <tr style="
          padding: 0;
          border: none;
          border-spacing: 0px;
          border-collapse: collapse;
        ">
          <td style="
            padding: 0;
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
          ">
            <h4 style="
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              padding: 0.5rem 2rem;
              margin: 0;
              color: #668192;
            ">This email was sent to <span style="color: #016FB9;" class="blue">druhin@gmail.com</span>. If you'd rather not receive this kind of email, you can <span style="color: #016FB9;" class="blue">unsubscribe</span> or <span style="color: #016FB9;" class="blue">manage your email preferences.</span></h4>
            <h4 style="
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              padding: 0.5rem 2rem;
              margin: 0;
              color: #668192;
            ">© 2022 ChefNow Inc.</h4>
          </td>
        </tr>
      </tbody>
      <tfoot class="w-100" border="0" cellpadding="0" cellspacing="0" width="600" align="left" style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        border: none;
        border-spacing: 0px;
        border-collapse: collapse;
      ">
        <tr style="
          padding: 0;
          border: none;
          border-spacing: 0px;
          border-collapse: collapse;
        ">
          <td class="logo-area" align="left" valign="top" style="
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
            padding: 2rem;
          ">
            <img style="
              padding: 0;
              border: none;
              border-spacing: 0px;
              border-collapse: collapse;
              width: 24px;
              height: 24px;
              margin-right: 5px;
              vertical-align: middle;
              display: inline-block;
              font-style: normal;
              font-weight: 700;
              font-size: 17.1429px;
              line-height: 23px;
              margin: 0 5px 0 0;
              vertical-align: middle;
            " class="footer_logo" src="./images/logo.png" alt="logo"/>
            <p style="color: #016FB9; display: inline-block;" class="footer_font blue">Getchefnow</p>
          </td>
        </tr>
        <tr style="
          padding: 0;
          border: none;
          border-spacing: 0px;
          border-collapse: collapse;
        ">
          <td class="logo-area" align="center" style="
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
            padding: 2rem;
          ">
            <a style="text-decoration: none;" href="https://www.facebook.com/getchefnow/">
              <img style="
                padding: 0;
                border: none;
                border-spacing: 0px;
                border-collapse: collapse;
                margin: 0 0.5rem;
              " class="social_icon" src="./images/vector-1.png" alt="facebook"/>
            </a>
            <a style="text-decoration: none;" href="https://www.instagram.com/getchefnow/">
              <img style="
                padding: 0;
                border: none;
                border-spacing: 0px;
                border-collapse: collapse;
                margin: 0 0.5rem;
              " class="social_icon" src="./images/vector-2.png" alt="instagram"/>
            </a>
            <a style="text-decoration: none;" href="https://www.twitter.com/getchefnow/">
              <img style="
                padding: 0;
                border: none;
                border-spacing: 0px;
                border-collapse: collapse;
                margin: 0 0.5rem;
              " class="social_icon" src="./images/vector-3.png" alt="twitter"/>
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
